<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="/css/menu.css"/>
    <link rel="stylesheet" href="/css/homepage.css"/>
</head>

<body class="background-contact">
<div th:replace="/parts/header :: header"></div>
<div class="nav-menu">
    <ul>
        <li>
            <button class="opt-btn" id="product">Whole Menu</button>
        </li>
        <li>
            <button class="opt-btn" id="specials">Specials</button>
        </li>
        <li>
            <button class="opt-btn" id="vegan">Vegan</button>
        </li>
        <li>
            <button class="opt-btn" id="burgers">Burgers</button>
        </li>
        <li>
            <button class="opt-btn" id="drinks">Drinks</button>
        </li>
        <li>
            <button class="opt-btn" id="sides">Sides</button>
        </li>
        <li>
            <button class="opt-btn" id="desserts">Desserts</button>
        </li>
    </ul>
</div>

<div class="products-list-opt">
    <div th:each="item : ${items}">
        <div th:class="'product ' + ${item.category}">
            <div class="product-img">
                <img th:src="@{/images/{image}(image=${item.image})}" th:alt="${item.altText}">
            </div>
            <div class="description">
                <p th:text="${item.name}"></p>
                <p2 th:text="${item.description}"></p2>
                <br>
                <div class="cost">&pound;<span th:text="${item.price}"></span></div>
                <div class="stock"><span th:text="${item.stock}"></span> left</div>

                <form action="#" th:action="@{/basket/add}" method="post">
                    <input type="hidden" th:value="${item.id}" name="id"/>
                    <button type="submit"><a class="basket-btn">Add to Basket</a></button>
                </form>
            </div>
        </div>
    </div>
</div>


<br><br>
<div th:replace="/parts/footer :: footer"></div>
<script src="https://kit.fontawesome.com/c54d8b2ca0.js" crossorigin="anonymous"></script>
<script src="/js/products.js"></script>
</body>
</html>